{% extends "app/homepage.html.twig" %}


{% block title %}Branches
{% endblock %}

{% block body %}
    <div class="orgContainer">
        <div class='branches'>
            {% for key, branch in branches %}
                <h2>{{key}}</h2>
                {% for elem in branch %}
                    <p>
                        <i class="fas fa-map-marker-alt"></i>
                        {{elem}}</p>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="hours">
            {% set status = '' %}
            {% for key, hour in hours %}
                {% if key == "now"|date('l') %}
                    {% if key == 'Sunday' %}
                        {% set status = 'Closed' %}
                    {% else %}
                        {% for h in hour %}
                            {% if loop.first %}
                                {% if "now"|date('G:i') < h %}
                                    {% set earlier = true %}
                                {% else %}
                                    {% set earlier = false %}
                                {% endif %}
                            {% endif %}
                            {% if loop.last %}
                                {% if "now"|date('G:i') <  h %}
                                    {% set later = false %}
                                {% else %}
                                    {% set later = true %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if earlier is defined and later is defined %}
                {% if earlier == false and later == false %}
                    {% set status = 'Open' %}
                {% else %}
                    {% set status = 'Closed' %}
                {% endif %}
            {% endif %}

            <p class="{{status}}">
                <i class="far fa-clock"></i>
                {{status}}
            </p>

            {% for key, hour in hours %}
                <p>
                    <span>{{key}}</span>
                    <span>
                        {% if loop.last %}
                            Closed
                        {% else %}
                            {% for h in hour %}
                                {{h}}
                                {% if loop.first %}
                                    -
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </span>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
