{% extends "app/homepage.html.twig" %}

{% block addition %}
    Cart
{% endblock %}

{% block body %}
    <main class="cart-org">
        {% if app.session.get('cart') is not empty %}
            <section class="cart-cont">
                <div class="cart-prods">
                    <div class="top-cart-prods">
                        <p>
                            Item name
                        </p>
                        <p>
                            Quantity
                        </p>
                        <p>
                            Remove
                        </p>
                    </div>
                    <div class="prods-org">
                        {% for key, prod in cart %}
                            <div class="prod">
                                <a href="{{path('product', {'id':prod.id})}}">{{prod.prod|capitalize}}</a>
                                <input type="number" readonly value="{{prod.quant}}">
                                <a href="{{path('remCart', {'id': key})}}">
                                    <i class="far fa-times-circle"></i>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="cart-side">
                    {% set price = 0 %}
                    {% for prod in cart %}
                        {% set price = price + prod.sum %}
                    {% endfor %}
                    <p class="sum-price">
                        Total:
                        <i class="fas fa-dollar-sign"></i>
                        <span>
                            {{price}}
                        </span>
                    </p>
                    <a href="{{path('clearCart')}}">
                        <button class="clear-cart">
                            <i class="far fa-times-circle"></i>
                            Clear cart
                        </button>
                    </a>

                    <a href="#">
                        <button class="pay-proceed">
                            <i class="fas fa-money-bill-wave"></i>
                            Proceed to payment
                        </button>
                    </a>
                </div>
            </section>
        {% else %}
            <h2>Cart is empty browse products and add them to it</h2>
        {% endif %}
    </main>
{% endblock %}
