{% extends 'base.html.twig' %}

{% block title %}Online shop
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('styles/app.css')}}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="navContainer">
        <div class="appLabel">
            <a href="{{path('homepage')}}">Shop</a>
        </div>

        <div class="search">
            {{form_start(search)}}
            {{form_widget(search.Query)}}
            {{form_widget(search.Search)}}
            {{form_end(search)}}
        </div>

        <div class="contact">
            <p>
                <i class="fas fa-headphones-alt"></i>
            </p>
            <div class="dropdown-contact">
                <p>
                    <i class="fas fa-phone"></i>
                    <a href="tel:111-222-333" target="_blank" title="111-222-333">111-222-333</a>
                </p>
                <p>
                    <i class="fas fa-at"></i>
                    <a href="mailto:contact@shop.com" target="_blank" title="contact@shop.com">Send mail</a>
                </p>
                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    <a href="{{path('branches')}}" title="Branches">Branches</a>
                </p>
            </div>
        </div>

        {% if app.session.get('user') is null %}
            <div class="login">
                <a href="{{path('login')}}">
                    <button>
                        <i class="far fa-user"></i>
                        Login</button>
                </a>
            </div>
        {% else %}
            <div class="logout">
                <a href="{{path('logout')}}">
                    <button title="{{app.session.get('user').Username}}">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout</button>
                </a>
            </div>
        {% endif %}

        <div class="cart">
            <a href="">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}
