{% extends "app/homepage.html.twig" %}

{% block title %}
    {{parent()}}
    |
    {{prod.Name|capitalize}}
{% endblock %}

{% block flash %}{% endblock %}

{% block body %}
    <main class="product-container">
        <div class="main">
            <div class="route">
                <p>Homepage
                    <i class="fas fa-chevron-right"></i>
                    {{prod.Category.Name}}
                    <i class="fas fa-chevron-right"></i>
                    {{prod.Name|capitalize}}
                </p>
            </div>
            <p>{{prod.Name|capitalize}}</p>
            <div class="image">
                {% if prod.galleryLink is not null %}
                    <a href="{{path(prod.galleryLink)}}" target="_blank">
                        <img alt="Embedded Image" src="{{asset('prodsImgs/' ~ prod.image)}}" title="Click to see gallery"/>
                    </a>
                {% else %}
                    <img alt="Embedded Image" src="{{asset('prodsImgs/' ~ prod.image)}}"/>
                {% endif %}
            </div>
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in prod.Category.Tags %}
                    <div class="tag">
                        <i class="far fa-circle"></i>
                        {{tag.Name|upper}}
                    </div>
                {% endfor %}
            </div>
            {% if prod.Description is not null %}
                <div class="desc">
                    {{prod.Description|markdown}}
                </div>
            {% endif %}
            <div class="opinions">
                <h2>{{prod.Opinions|length}}
                    opinions</h2>
                {% if app.session.get('user') is not null %}
                    <div class="give-rate" id="rate">
                        {{form_start(rating)}}
                        {% for radio in rating.Rate %}
                            {{form_widget(radio)}}
                            <label for="{{radio.vars.id}}" id="star-{{radio.vars.value}}" class="required">
                                <i class="fas fa-star" id="{{radio.vars.value}}" onclick="pick({{radio.vars.value}})"></i>
                            </label>
                        {% endfor %}
                        <div class="content">
                            {{form_widget(rating.Description)}}
                        </div>
                        {{form_widget(rating.Add)}}
                        {{form_end(rating)}}
                    </div>
                {% endif %}
                {% for opinion in prod.Opinions %}
                    <div class="opinion">
                        <div class="rate">
                            <i class="fas fa-star"></i>
                            {{opinion.rate}}
                        </div>
                        <div class="op-desc">
                            {{opinion.description}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="side">
            <p class="id">
                Product id:
                {{prod.id}}
            </p>
            <p class="price" id="prod-price" data-val="{{prod.Price}}">
                <i class="fas fa-dollar-sign"></i>
                {{prod.Price}}
            </p>
            <div class="insert">
                {{form_start(add)}}
                {{form_widget(add.Quantity)}}
                <span id="counter">
                    1 x
                    {{prod.Price}}
                    =
                    {{1 * prod.Price}}
                </span>
                {{form_widget(add.Add)}}
                {{form_end(add)}}
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{label}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endfor %}
            <p class="star">
                {% set rate = 0 %}
                {% if prod.Opinions is not empty %}
                    {% for rating in prod.Opinions %}
                        {% set rate = rate + rating.rate %}
                    {% endfor %}
                    {% set rate = rate / prod.Opinions|length %}
                {% endif %}
                <i class="fas fa-star"></i>
                {{rate|round(2,'floor')}}
            </p>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/counter.js')}}"></script>
    <script src="{{asset('js/rate.js')}}"></script>
{% endblock %}
