{% extends "app/homepage.html.twig" %}

{% block title %}
    {{parent()}}
    | Search result
{% endblock %}

{% block body %}
    <main class="result">
        {% if pagination is not empty %}
            <h3>{{pagination|length}}
                result for
                <span>"{{query|capitalize}}"</span>
            </h3>
            {% for result in pagination %}
                <a href="{{path('product', {'id': result.id})}}">
                    <section class="item">
                        <div class="image">
                            <img alt="Embedded Image" src="{{asset('prodsImgs/' ~ result.image)}}"/>
                        </div>
                        <div class="name">{{result.Name|capitalize}}</div>
                        <div class="price">
                            <i class="fas fa-dollar-sign"></i>
                            {{result.Price}}</div>
                    </section>
                </a>
            {% endfor %}
            <section class="navigator">
                {{knp_pagination_render(pagination)}}
            </section>
        {% else %}
            <section class="error">
                <h2>No results has been found for
                    <span>"{{query}}"</span>
                </h2>
                <a href="{{path('homepage')}}">
                    <button>
                        Homepage
                    </button>
                </a>
            </section>
        {% endif %}
    </main>
{% endblock %}
