{% extends "admin/dash.html.twig" %}

{% block title %}
    {{parent()}}
    | Categories
{% endblock %}

{% block body %}
    <main class="categories">
        <p class="link-back">
            <a href="{{path('dash')}}">
                <i class="fas fa-arrow-left"></i>
                Back</a>
        </p>
        <p class="create">
            <a href="{{path('newCat')}}">
                <button>
                    <i class="fas fa-plus"></i>
                    Create new category</button>
            </a>
        </p>
        {% for category in categories %}
            <section class="item">
                <p class="id">
                    <i class="fas fa-id-card"></i>
                    {{category.id}}
                </p>
                <p class="name">{{category.Name|capitalize}}</p>
                <p class="tag-list">
                    {% for tag in category.Tags %}
                        <span>{{tag.Name}}</span>
                        {% if loop.last == false %}
                            ,
                        {% endif %}
                    {% endfor %}
                </p>
                <p>
                    <a href="{{path('editCat',{'id':category.id})}}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{path('remCat',{'id':category.id})}}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </p>
            </section>
        {% endfor %}
    </main>
{% endblock %}
