{% extends "admin/dash.html.twig" %}

{% block title %}
    {{parent()}}
    | Creator
{% endblock %}

{% block body %}
    <main class="new">
        <p class="link-back">
            <a href="{{path('categories')}}">
                <i class="fas fa-arrow-left"></i>
                Back
            </a>
        </p>

        <section class="form">
            {{form_start(new)}}
            {{form_widget(new.Name)}}
            {{form_widget(new.Tags)}}
            {{form_widget(new.Proceed)}}
            {{form_end(new)}}
        </section>
    </main>
{% endblock %}
