{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('styles/user.css')}}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <div class="nav">
        <a href="{{path('homepage')}}">Shop</a>
    </div>
{% endblock %}

{% block body %}
    <div class="formContainer">
        <p>Login form</p>

        {{form_start(login)}}
        {{form_widget(login.Username)}}
        {{form_widget(login.Password)}}
        {{form_widget(login.Login)}}
        {{form_end(login)}}

        <p>
            <a href="{{path('register')}}">First time? Register</a>
        </p>

        {% if app.session.get('user') is null %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{label}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
