{% extends 'base.html.twig' %}

{% block title %}
	Sign in to app
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="/styles/user/login.css">
{% endblock %}

{% block body %}
	<form action="{{ path('login') }}" method="POST">
		<p class="tag">
			Sign in
		</p>
		<div class="inpBox">
			<label for="username">
				Username
			</label>
			<input type="text" id="username" name="username" value="{{ username }}" autofocus required/>
		</div>
		<div class="inpBox">
			<label for="password">
				Password
			</label>
			<input type="password" id="password" class="pass" name="password" value="" required/>
			<span class="showBtn">
				<svg stroke="currentColor" class="show-icon" stroke-width="0" viewbox="0 0 576 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
					<path d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z"></path>
				</svg>
			</span>
		</div>
		<div class="sub-box">
			<label class="remember">
				<input type="checkbox" name="_remember_me">
				Remember me
			</label>
			<a href="" class="forgot-pass">
				Forgot password?
			</a>
		</div>
		<input type="hidden" name="csrf" value="{{ csrf_token('authenticate') }}">
		<button id="submit-login" type="submit" class="signin-btn">
			Sign in
		</button>
		<a href="{{path('register')}}" class="reg-link">
			Become member now
		</a>
		{% if error %}
			<div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
	</form>
{% endblock %}

{% block javascripts %}
	<script src="/js/login.js"></script>
{% endblock %}
